<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.david.poetry.dao.PoemMapper">
    <select id="getPoemById" parameterType="int" resultType="com.david.poetry.bean.Poem">
        select id,
               title,
               content,
               author_id,
               dynasty,
               author
        from poems
        where id = #{id}
    </select>
</mapper>